#general
.idea/

#files
doctrine_scripts/*user.php
doctrine_scripts/*users.php
doctrine_scripts/delete_TESTS.php

#doctrine
db.sqlite

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
