{% extends 'backend/backend/board.html.twig' %}

{% block body %}
    <a href="{{ path('app_backend_backend_board') }}"><p>Back to board</p></a>
    <div class="category-creation">
        <label for="category-name">CategoryName</label>
        <input type="text" id="category-name" name="category[name]" placeholder="Name" />
    </div>
{% endblock %}