{% extends 'backend/backend/board.html.twig' %}

{% block body %}
    <a href="{{ path('app_backend_backend_board') }}"><p>Back to board</p></a>
    {% if category %}
        <div class="category-creation">
            <label for="category-name">Created Category</label>
            <p>{{ category.name }}</p>
        </div>
    {% else %}
        <form action="{{ path('app_backend_category_create') }}" method="post">
            <div class="category-creation">
                <label for="category-name">CategoryName</label>
                <input type="text" id="category-name" name="name" placeholder="Name" />
            </div>
        </form>
    {% endif %}
{% endblock %}