{% extends 'backend/backend/board.html.twig' %}

{% block title %}{{ parent() }} | Categories{% endblock %}
{% block menu %}
    <ul class="category-list">
        {% for category in categories %}
            <li>
                <span style="color: #0f6674; text-decoration: none">{{ category.name }}</span>
                <a style="color: red;" href="{{ path('app_backend_category_delete', {categoryId: category.id}) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <div class="category--add-new">
        <a href="{{ path('app_backend_category_create') }}" class="btn btn-dark category-new">Neue Kategorie</a>
    </div>
{% endblock %}